USE [master]
GO
/****** Objekt:  Database [Lagerverwaltung]    Skriptdatum: 28.09.2026 14:56:53 ******/
CREATE DATABASE [Lagerverwaltung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lagerverwaltung', FILENAME = N'C:\Users\Matthias Utrata\Lagerverwaltung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lagerverwaltung_log', FILENAME = N'C:\Users\Matthias Utrata\Lagerverwaltung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lagerverwaltung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lagerverwaltung]
GO
/****** Objekt:  Table [dbo].[Bewegungsart]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bewegungsart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Bewegungsart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Gegenstand]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gegenstand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Seriennummer] [nvarchar](50) NULL,
	[KategorieID] [int] NOT NULL,
	[HerstellerID] [int] NOT NULL,
 CONSTRAINT [PK_Gegenstand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Hersteller]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hersteller](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hersteller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Kategorie]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Kategorie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Lagerbewegung]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lagerbewegung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Menge] [int] NOT NULL,
	[ErstelltAm] [datetime] NOT NULL,
	[BestaetigtAm] [datetime] NULL,
	[BewegungsartID] [int] NOT NULL,
	[VonRaumID] [varchar](8) NOT NULL,
	[NachRaumID] [varchar](8) NOT NULL,
	[GegenstandID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
 CONSTRAINT [PK_Lagerbewegung] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Person]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [nvarchar](250) NOT NULL,
	[Nachname] [nvarchar](250) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[RolleID] [int] NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Raum]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raum](
	[ID] [varchar](8) NOT NULL,
	[PersonID] [int] NULL,
	[RaumartID] [int] NOT NULL,
 CONSTRAINT [PK_Raum] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Raumart]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raumart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Raumart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Raumbestand]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raumbestand](
	[GegenstandID] [int] NOT NULL,
	[RaumID] [varchar](8) NOT NULL,
	[Menge] [int] NOT NULL,
 CONSTRAINT [PK_Raumbestand] PRIMARY KEY CLUSTERED 
(
	[GegenstandID] ASC,
	[RaumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Rolle]    Skriptdatum: 28.09.2026 14:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rolle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Admin] [bit] NOT NULL,
 CONSTRAINT [PK_Rolle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gegenstand]  WITH CHECK ADD  CONSTRAINT [FK_Gegenstand_Hersteller] FOREIGN KEY([HerstellerID])
REFERENCES [dbo].[Hersteller] ([ID])
GO
ALTER TABLE [dbo].[Gegenstand] CHECK CONSTRAINT [FK_Gegenstand_Hersteller]
GO
ALTER TABLE [dbo].[Gegenstand]  WITH CHECK ADD  CONSTRAINT [FK_Gegenstand_Kategorie] FOREIGN KEY([KategorieID])
REFERENCES [dbo].[Kategorie] ([ID])
GO
ALTER TABLE [dbo].[Gegenstand] CHECK CONSTRAINT [FK_Gegenstand_Kategorie]
GO
ALTER TABLE [dbo].[Lagerbewegung]  WITH CHECK ADD  CONSTRAINT [FK_Lagerbewegung_Bewegungsart] FOREIGN KEY([BewegungsartID])
REFERENCES [dbo].[Bewegungsart] ([ID])
GO
ALTER TABLE [dbo].[Lagerbewegung] CHECK CONSTRAINT [FK_Lagerbewegung_Bewegungsart]
GO
ALTER TABLE [dbo].[Lagerbewegung]  WITH CHECK ADD  CONSTRAINT [FK_Lagerbewegung_Gegenstand] FOREIGN KEY([GegenstandID])
REFERENCES [dbo].[Gegenstand] ([ID])
GO
ALTER TABLE [dbo].[Lagerbewegung] CHECK CONSTRAINT [FK_Lagerbewegung_Gegenstand]
GO
ALTER TABLE [dbo].[Lagerbewegung]  WITH CHECK ADD  CONSTRAINT [FK_Lagerbewegung_NachRaum] FOREIGN KEY([NachRaumID])
REFERENCES [dbo].[Raum] ([ID])
GO
ALTER TABLE [dbo].[Lagerbewegung] CHECK CONSTRAINT [FK_Lagerbewegung_NachRaum]
GO
ALTER TABLE [dbo].[Lagerbewegung]  WITH CHECK ADD  CONSTRAINT [FK_Lagerbewegung_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Lagerbewegung] CHECK CONSTRAINT [FK_Lagerbewegung_Person]
GO
ALTER TABLE [dbo].[Lagerbewegung]  WITH CHECK ADD  CONSTRAINT [FK_Lagerbewegung_VonRaum] FOREIGN KEY([VonRaumID])
REFERENCES [dbo].[Raum] ([ID])
GO
ALTER TABLE [dbo].[Lagerbewegung] CHECK CONSTRAINT [FK_Lagerbewegung_VonRaum]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Rolle] FOREIGN KEY([RolleID])
REFERENCES [dbo].[Rolle] ([ID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Rolle]
GO
ALTER TABLE [dbo].[Raum]  WITH CHECK ADD  CONSTRAINT [FK_Raum_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([ID])
GO
ALTER TABLE [dbo].[Raum] CHECK CONSTRAINT [FK_Raum_Person]
GO
ALTER TABLE [dbo].[Raum]  WITH CHECK ADD  CONSTRAINT [FK_Raum_Raumart] FOREIGN KEY([RaumartID])
REFERENCES [dbo].[Raumart] ([ID])
GO
ALTER TABLE [dbo].[Raum] CHECK CONSTRAINT [FK_Raum_Raumart]
GO
ALTER TABLE [dbo].[Raumbestand]  WITH CHECK ADD  CONSTRAINT [FK_Raumbestand_Gegenstand] FOREIGN KEY([GegenstandID])
REFERENCES [dbo].[Gegenstand] ([ID])
GO
ALTER TABLE [dbo].[Raumbestand] CHECK CONSTRAINT [FK_Raumbestand_Gegenstand]
GO
ALTER TABLE [dbo].[Raumbestand]  WITH CHECK ADD  CONSTRAINT [FK_Raumbestand_Raum] FOREIGN KEY([RaumID])
REFERENCES [dbo].[Raum] ([ID])
GO
ALTER TABLE [dbo].[Raumbestand] CHECK CONSTRAINT [FK_Raumbestand_Raum]
GO
USE [master]
GO
